.calendar{
    display: flex;
    justify-content: space-around;
}
.calendar .calendar_manu{}
.calendar .calendar_manu .cal_title{
    text-align: center;
}
.calendar .calendar_manu .week{
    background-color: #fff;
    width: 250px;
    text-align: center;
}
.calendar .calendar_manu .week .table_head tr th{
    text-align: center;
}
.calendar .calendar_manu .week .table_body tr td{
    height: 25px;
}
.calendar .calendar_manu .week .table_body tr .active:hover{
    background-color: #7ED6E4;
    cursor: pointer;
}
.calendar .calendar_manu .week .table_body tr .choose{
    background-color: #f4c7a1;    
}
.calendar .calendar_manu .week .table_body tr .area{
    background-color: #8e9fe3;
    
}