#root{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    margin: 0 auto;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.detail-wrap{
    width: 1200px;
    border-radius: 20px;
    overflow: hidden;
}
.detail-wrap .detail-img{
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 100%;
    gap: 0px;
    flex-direction: column;
    background-color: #000;
}
.detail-wrap .detail-img li:nth-child(1){
    width: 50%;
    height: 100%;
}
.detail-wrap .detail-img li{
    width: 25%;
    height: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}
.detail-wrap .detail-img li:hover{
    opacity: 0.8;
}

.detail-wrap .detail-img li img{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
}