*{
    outline: 0;
} 
button{
    font-family: sans-serif;
    cursor: pointer;
}
.detail-wrap{
    width: 1200px;
    margin: 50px auto 0;
    font-family: sans-serif;
}
.detail-wrap .detail-img{
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 100%;
    gap: 0px;
    flex-direction: column;
    border-radius: 13px;
    overflow: hidden;
}
.detail-wrap .detail-img li:nth-child(1){
    width: 49%;
    height: 100%;
}
.detail-wrap .detail-img li{
    width: 25%;
    height: 49.4%;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 0.5%;
}
.detail-wrap .detail-img li:nth-child(2),
.detail-wrap .detail-img li:nth-child(4){
    margin-bottom: 0.5%;
}
.detail-wrap .detail-img li:nth-child(4),
.detail-wrap .detail-img li:nth-child(5){
    margin-right: 0;
}
.detail-wrap .detail-img li:hover{
    opacity: 0.8;
}

.detail-wrap .detail-img li img{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
}


.detail-wrap .detail-title{
    overflow: hidden;
    margin-top: 25px;
}
.detail-wrap .detail-title .title-left{
    float: left;
}
.detail-wrap .detail-title .title-left .hotelType{
    font-size: 15px;
    color: #707070;
}
.detail-wrap .detail-title .title-left .hotelCity{
    color: #000;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 7px;
}
.detail-wrap .detail-title .title-left h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
}
.detail-wrap .detail-title .title-left img{
    margin-right: 1px;
    width: 15px;
}
.detail-wrap .detail-title .title-right{
    float: right;
}
.detail-wrap .detail-title .title-right .discount{
    text-align: right;
}
.detail-wrap .detail-title .title-right .discount .red{
    background-color: #ffedea;
    color: #f94239;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 5px;
    text-decoration: none !important;
}
.detail-wrap .detail-title .title-right .discount .origin-price{
    font-size: 15px;
    color: #707070;    
    text-decoration: line-through;
}
.detail-wrap .detail-title .title-right .final-price{
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    text-align: right;
}
.detail-wrap .detail-title .title-right .final-price span{
    font-size: 15px;
    color: #707070;
}
.detail-wrap .detail-title .title-right .btns{
    width: 100%;
    text-align: right;
    margin-top: 6px;
}
.detail-wrap .detail-title .title-right .btns button{
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}
.detail-wrap .detail-title .title-right .btns button i{
    font-size: 21px;
    color: #6b6b6b;
    text-align: center;
}

.detail-wrap .detail-content{
    display: flex;
}
.detail-wrap .detail-content .detail-left{
    width: 70%;
}
.detail-wrap .detail-content .detail-right{
    width: 26.5%;
}

.detail-wrap .detail-content .detail-left .service{
    margin-top: 30px;
}
.detail-wrap .detail-content .detail-left .service .service-title{
    font-size: 18px;
    font-weight: 700;
}
.detail-wrap .detail-content .detail-left .service .service-icon{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #f5f7fa;
    padding: 25px 30px 15px;
    margin-top: 18px;
}
.detail-wrap .detail-content .detail-left .service .service-icon .icon{   
    padding: 0 15px;
    border: 1px solid #e7e7e7;
    border-radius: 30px;
    margin-right: 7px;
    margin-bottom: 9px;
    background-color: #fff;
    font-size: 13px;
    line-height: 38px;
}
.detail-wrap .detail-content .detail-left .service .service-icon .icon i{
    color: #42799b;
    display: inline;
}
.detail-wrap .detail-content .detail-left .service .service-icon .icon i span{
    font-size: 14px;
    color: #3d3d3d;
}

.detail-wrap .detail-content .detail-left .room-select{
    margin-top: 30px;
}
.detail-wrap .detail-content .detail-left .room-select .room-title{
    font-size: 18px;
    font-weight: 700;
}
.detail-wrap .detail-content .detail-left .room-select ul li{
    overflow: hidden;
    border-radius: 10px;
    background: #f5f7fa;
    padding: 25px;
    margin-top: 18px;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-left,
.detail-wrap .detail-content .detail-left .room-select ul li .room-right{
    float: left;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-left{
    overflow: hidden;
    width: 242px;
    height: 242px;
    position: relative;
    border-radius: 15px;
    margin-right: 23px;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-left img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-right{
    width: 524px;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-right h2{
    font-size: 20px;
    font-weight: 600;
}
.detail-wrap .detail-content .detail-left .room-select ul li .room-right .room-intro{
    margin-top: 7px;
    overflow: hidden;
}
.room-select ul li .room-right .room-intro .intro-left{
    float: left;
}
.room-select ul li .room-right .room-intro .intro-right{
    float: right;
}
.room-select ul li .room-right .room-intro .intro-left img{
    margin-right: 1px;
    width: 15px;
}
.room-select ul li .room-right .room-intro .intro-right button{
    background-color: transparent;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: #42799b;
}
.room-select ul li .room-right .room-info{
    background-color: #fff;
    padding: 20px 25px 18px;
    border-radius: 10px;
    margin-top: 15px;
}
.room-select ul li .room-right .room-info p{
    font-size: 14px;
    line-height: 23px;
}
.room-select ul li .room-right .room-info p i{
    color: #42799b;
    font-size: 14px;
}
.room-select ul li .room-right .room-info p .bold{
    font-weight: 600;
    font-size: 14px;
}
.room-select ul li .room-right .room-info p .red{
    background-color: #ffedea;
    color: #f94239;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 5px;
    text-decoration: none !important;
    margin-left: 5px;
}
.room-select ul li .room-right .room-info .room-pay{
    text-align: right;
}
.room-select ul li .room-right .room-info .room-pay .origin-price{
    font-size: 15px;
    color: #707070;    
    text-decoration: line-through;
}
.room-select ul li .room-right .room-info .room-pay .final-price{
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    text-align: right;
    letter-spacing: -0.5px;
    padding-left: 8px;
}
.room-select ul li .room-right .room-info .room-pay .final-price span{
    font-size: 15px;
    color: #707070;
}
.room-select ul li .room-right .room-info .room-pay button{
    background: transparent;
    border-radius: 8px;
    line-height: 47px;
    vertical-align: text-bottom;
}
.room-select ul li .room-right .room-info .room-pay .cart{
    border: 1px solid #e7e7e7;
    padding: 0 10px;
    margin-left: 13px;
}
.room-select ul li .room-right .room-info .room-pay .cart:hover{
    background-color: #e7e7e7;
}
.room-select ul li .room-right .room-info .room-pay .cart i{
    color: #42799b;
    font-size: 20px;
}
.room-select ul li .room-right .room-info .room-pay .pay{
    background-color: #42799b;
    color: #fff;
    border: 1px solid #42799b;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 0 20px;
    margin-left: 8px;
}
.room-select ul li .room-right .room-info .room-pay .pay:hover{
    background-color: #31688a;
    border-color: #31688a;
}

.detail-wrap .detail-content .detail-left .hotel-map{
    margin-top: 30px;
}
.detail-wrap .detail-content .detail-left .hotel-map .map-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}
.detail-wrap .detail-content .detail-left .hotel-map .map-address{
    font-size: 15px;
    font-weight: 600;
    line-height: 33px;
    margin-top: 10px;
}
.detail-wrap .detail-content .detail-left .hotel-map .map-address i{
    color: #31688a;
}
.detail-wrap .detail-content .detail-left .hotel-map .map-address button{
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0 12px;
    line-height: 33px;
    margin-left: 10px;
}
.detail-wrap .detail-content .detail-left .hotel-map .map-address button:hover{
    background-color: #e7e7e7;
}
.detail-wrap .detail-content .detail-left .hotel-score{
    margin-top: 30px;
}
.detail-wrap .detail-content .detail-left .hotel-score .score-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}
.detail-wrap .detail-content .detail-left .hotel-score .score-wrap{
    display: flex;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background: #f5f7fa;
    padding: 30px 0px;
}
.hotel-score .score-wrap .score-left,
.hotel-score .score-wrap .score-middle,
.hotel-score .score-wrap .score-right{
    width: 33.3%;
    text-align: center;
}
.hotel-score .score-wrap .tit{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.hotel-score .score-wrap .score-left .star{
    margin: 29px 0 21px;
}
.hotel-score .score-wrap .score-left .star img{
    margin-right: 2px;
    width: 21px;
}
.hotel-score .score-wrap .score-left .score,
.hotel-score .score-wrap .score-left .score span{
    font-size: 43px;
}
.hotel-score .score-wrap .score-left .score{
    color: #000;
    font-weight: 600;
}
.hotel-score .score-wrap .score-left .score span{
    color: #cfcfcf;
    font-weight: 500;
}
.hotel-score .score-wrap .score-middle{
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}
.hotel-score .score-wrap .score-middle .icon{
    margin: 22px 0 19px;
}
.hotel-score .score-wrap .score-middle .icon i{
    color: #42799b;
    font-size: 45px;
}
.hotel-score .score-wrap .score-middle .count{
    font-size: 29px;
    font-weight: 500;
}
.hotel-score .score-wrap .score-right .graph{
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}
.hotel-score .score-wrap .score-right .graph .bar-wrap{
    display: flex;
    margin: 5px 0;
    justify-content: left;
}
.hotel-score .score-wrap .score-right .graph .bar-wrap span{
    font-size: 14px;
    font-weight: 500;
}
.hotel-score .score-wrap .score-right .graph .bar-wrap .bar-width{
    height: 16px;
    background-color: #e5e5e5;
    width: 120px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
.hotel-score .score-wrap .score-right .graph .bar-wrap .bar-width .bar{
    height: 100%;
    background-color: #42799b;
    border-radius: 3px;
}


.detail-wrap .detail-content .detail-left .hotel-score .score-bottom{
    display: flex;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 30px 0px;
}





.detail-wrap .detail-content .detail-right{
    position: static;
    margin-top: 25px;
    margin-left: 3.5%;
}
.detail-wrap .detail-content .detail-right.fixed{
    position: sticky;
    top: 20px;
    align-self: flex-start;
    width: 318px;
}
.detail-wrap .detail-content .detail-right .hotel-day{
    padding: 25px 30px;
    background-color: #f5f7fa;
    border-radius: 10px;
}
.detail-wrap .detail-content .detail-right .hotel-day .day-wrap{
    overflow: hidden;
    margin-bottom: 10px;
}
.detail-wrap .detail-content .detail-right .hotel-day .day-wrap .day-tit{
    float: left;
    font-size: 17px;
    font-weight: 500;
}
.detail-wrap .detail-content .detail-right .hotel-day .day-wrap .day-txt{
    float: right;
    font-weight: 600;
    font-size: 20px;
}
.detail-wrap .detail-content .detail-right .hotel-day button{
    background-color: #42799b;
    color: #fff;
    border: 1px solid #42799b;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 40px;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}
.detail-wrap .detail-content .detail-right .hotel-day button:hover{
    background-color: #31688a;
    border-color: #31688a;
}
.detail-wrap .detail-content .detail-right .hotel-headcount{
    padding: 25px 30px;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-tit{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select{
    overflow: hidden;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select .head-txt{
    float: left;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select .btns{
    float: right;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select .btns button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: #000;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select .btns button:hover{
    background-color: #e7e7e7;
}
.detail-wrap .detail-content .detail-right .hotel-headcount .head-select .btns span{
    padding: 0 15px;
    font-weight: 600;
    font-size: 18px;
}