.main_container .mainImgBenner{
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
}
.main_container .mainImgBenner .hotelSearch{
    width: 1200px;
    position: absolute;
    bottom: -100px;
    left: 350px;
    border: 1px solid blue;
    z-index: 100;
}
.main_container .mainImgBenner .hotelSearch .hotelSearchBtn{
    width: 500px;
    height: 50px;
    margin-top: 50px;
    border: none;
    background-color: rgb(83, 83, 209);
    color: #fff;
    border-radius: 10px;
}
.main_container .mainImgBenner .hotelSearch .globalBtn{
    margin-left: 30px;
}
.main_container .mainImgBenner .hotelSearch .hotelInput{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}
.main_container .mainImgBenner .hotelSearch .hotelInput #citySearch{
    width: 500px;
    height: 45px;
    padding: 15px 10px 10px 10px;
    padding-left: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
/* .main_container .mainImgBenner .hotelSearch .hotelInput #citySearch:focus + ul.rankBox{
    height: 430px;
} */
.main_container .mainImgBenner .hotelSearch .hotelInput #citySearch:hover{
    background-color: #cecece;
}
.main_container .mainImgBenner .hotelSearch .hotelInput #citySearch:hover::placeholder{
    color: #505050;
}
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .rankName{
    display: inline-block;
    width: 420px;
}
/* 검색창 클릭시 나오는 지역 css */
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .countryInRank,
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .rankName{
    cursor: pointer;
}
/* .rankBoxRelat{
    position: relative;
} */
/* 검색창 ul */
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox{
    width: 500px;
    height: 430px;
    margin: 10px 0 10px 0;
    position: absolute;
    background-color: #fff;
    z-index: 20;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    top: 35px;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
}
/* .main_container .mainImgBenner .hotelSearch:focus-within .rankBox{
    height: 430px;
} */
/* 검색창 li */
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .rankBoxLi{
    padding: 10px;
}
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .rankBoxLi .inputInfo{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
/* 검색창 순위 */
.main_container .mainImgBenner .hotelSearch .hotelInput .rankBox .rankBoxLi .countryInRank{
    padding-right: 30px;
    width: 50px;
    display: inline-block;
}
.main_container .mainImgBenner .hotelSearch .hotelInput .Search_Btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(83, 83, 209);
    color: #fff;
}
.main_container .mainImgBenner .hotelSearch .hotelInput .searchIcon{
    position: absolute;
    top: 16px;
    left: 10px;
}
.main_container .hotel_type{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    gap: 10px;
}
.main_container .hotel_type .accomCat{
    position: relative;
    cursor: pointer;
}
.main_container .hotel_type .accomCat .HotelImg,
.main_container .hotel_type .accomCat .ResortImg,
.main_container .hotel_type .accomCat .CondoImg,
.main_container .hotel_type .accomCat .GuestHouseImg,
.main_container .hotel_type .accomCat .CampingImg{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.guestSum .minus_btn,
.guestSum .plus_btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
}
.guests{
    display: inline-block;
    width: 50px;
    padding: 10px;
    text-align: center;
}
/*  */
.main_container .popularAccom{
    margin-top: 70px;
}
.main_container .popularAccom .popularAccomTitle{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main_container .popularAccom .popularAccomSub1{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.main_container .popularAccom .popularAccomSub1 .leftBtn1{
    position: absolute;
    top: -120px;
    left: -50px;
    width: 50px;
    height: 500px;
    background-color: transparent;
    border: none;
}
.main_container .popularAccom .popularAccomSub1 .rightBtn1{
    position: absolute;
    top: -120px;
    right: -50px;
    width: 50px;
    height: 500px;
    border: none;
    background-color: transparent;
}
/* 인기호텔 슬라이드를 위한 div */
.main_container .popularAccom .popularAccomSub1 .slideBox{
    overflow: hidden;
    width: 1200px;
}
/* 인기호텔 슬라이드 ul */
.main_container .popularAccom .popularAccomSub1 .slideBox .popularAccomSub2{
    display: flex;
    gap: 10px;
    transition: 0.3s;
}
/* 인기호텔 슬라이드 li 구성요소 css */
.main_container .popularAccom .popularAccomSub1 .popularAccomSub2 .popularAccomMainImg{
    width: 231px;
    height: 240px;
    border-radius: 10px;
}
.main_container .popularAccom .popularAccomSub1 .popularAccomSub2 .popularAccom_name{
    margin-bottom: 10px;
}
.main_container .popularAccom .popularAccomSub1 .popularAccomSub2 .popularAccom_review{
    margin-bottom: 10px;
}
.main_container .popularAccom .popularAccomSub1 .popularAccomSub2 .popularAccom_score{
    border: 1px solid red;
    margin: 3px;
    background-color: yellow;
}
.main_container .popularAccom .popularAccomSub1 .popularAccomSub2 .popularAccom_count{
    margin-left: 10px;
    color: rgb(68, 68, 68);
}
/* 관광명소  */
.main_container .spotsAndStays .spotsAndStaysTitle{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
.main_container .spotsAndStays .spotsAndStaysAll{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.main_container .spotsAndStays .spotsAndStaysAll .citySpotsBox{
    overflow: hidden;
    width: 1200px;
}
.main_container .spotsAndStays .spotsAndStaysAll .citySpotsBox .citySpots{
    display: flex;
    gap: 10px;
    transition: 0.3s;
}
.main_container .spotsAndStays .spotsAndStaysAll .citySpotsBox .citySpots .citySpotImg{
    border-radius: 10px;
}
.main_container .spotsAndStays .spotsAndStaysAll .leftBtn2{
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 500px;
    background-color: transparent;
    border: none;
}
.main_container .spotsAndStays .spotsAndStaysAll .rightBtn2{
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 500px;
    border: none;
    background-color: transparent;
}
.main_container .spotsAndStays .spotsAndStaysAll .spotsAndStaysImg{
    width: 390px;
    height: 500px;
}
/* 평점순 */
.staySortByRating .staySortByRating_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
.staySortByRating .hotelRating_desc{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.staySortByRating .hotelRating_desc .leftBtn3{
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 500px;
    background-color: transparent;
    border: none;
}
.staySortByRating .hotelRating_desc .rightBtn3{
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 500px;
    border: none;
    background-color: transparent;
}
.staySortByRating .hotelRating_desc .hotelRatingBox{
    overflow: hidden;
    padding-top: 32px;
    width: 1200px;
}
.staySortByRating .hotelRating_desc .hotelRating_each{
    display: flex;
    margin: 0 auto;
    gap: 10px;
    transition: 0.3s;
}
.staySortByRating .hotelRating_desc .hotelRating_each .hotelRating_each_sub{
    position: relative;
}
.ratingItemWrapper{
    position: relative;
}
.staySortByRating .hotelRating_desc .hotelRating_each .hotelRatingImg{
    width: 390px;
    height: 500px;
    border-radius: 10px;
}
.staySortByRating .hotelRating_desc .hotelRating_each .hotelRating_each_sub .ratingLabel{
    /* position: relative; */
    position: absolute;
    top: -14px;
    left: 12px;
    z-index: 10;
    /* background: rgba(255, 0, 0, 0.4); */
}
.labelImg{
    width: 100px;
    height: 100px;
}
.hotelRatingScore{
    position: absolute;
    top: 35px;
    left: 24px;
}

.staySortByRating .hotelRating_desc .hotelRating_each_sub2{
    border: 1px solid red;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
}
.main_container .eventBanner{
    width: 1920px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid red;
}
/* 관광명소 모달 */
.main_container .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
}
.spotsModal{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #fff;
    z-index: 999;
}