/* #root{
    overflow: hidden;
    height: 100vh;
} */




.modalOverlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000cf;
    z-index: 99999999999;
}
.modalOverlay .modalWrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background-color: #fff;
    border-radius: 12px;
}
.modalOverlay .modalWrap .closeBtn{
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
}
.modalOverlay .modalWrap .closeBtn i{
    font-size: 21px;
    color: #6b6b6b;
    text-align: center;
    line-height: 41px;
}


.detail-wrap .detail-img li .hotel-img-slider{

}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img{
    width: 320px;
    height: 250px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img img.active{
    visibility: visible;
    opacity: 1;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn{
    overflow: hidden;
    padding-top: 15px;  
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn *{
    display: inline-block;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn .btn-left{
    float: left;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn .btn-left .circle{}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn .btn-left .circle span{
    background-color: #a7a7a7;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.detail-wrap .detail-img li .hotel-img-slider .hotel-img-btn .btn-left .circle span.active{
    background-color: #3d008c;
}
