/* 상품 영역 전체 */
.Room_section{
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}
/* 상품 필터 영역 시작----------------------------------------------------*/
.Room_section .filter_menu{
    background-color: #ccc;
    width: 100%;
    height: 300px;
    display: flex;
    box-sizing: border-box;
}
.Room_section .filter_menu .left_filter{
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    width: 600px;
}
.Room_section .filter_menu .left_filter .filter01{
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}
.Room_section .filter_menu .left_filter .filter01 .filter_tag{
    padding: 5px;
}
.Room_section .filter_menu .left_filter .filter01 .fil_btn{
    padding: 5px 10px;
    margin: 0 5px 3px 0;
    border-radius: 20px;
    border: 1px solid #aaa;
    font-size: 12px;
    cursor: pointer;
}
.Room_section .filter_menu .left_filter .under_filter{
    margin-top: 10px;
    box-sizing: border-box;
}
.Room_section .filter_menu .left_filter .under_filter .fil_btn{
    padding: 5px 10px;
    margin: 0 5px 3px 0;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 12px;
    background-color:rgb(206, 166, 118) ;
    color: #fff;
    cursor: pointer;
}
.Room_section .filter_menu .center_filter{
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    width: 400px;
}
.Room_section .filter_menu .right_filter{
    border: 1px solid green;
    width: 400px;
    box-sizing: border-box;
}
.Room_section .filter_menu .right_filter .map{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}

/* 상품 필터 영역 끝 */

/* 상품 정렬 영역 시작--------------------------------------------------- */
.Room_section .arr_menu{
    height: 30px;
    background-color: #aaa;
}
.Room_section .arr_menu .arr_group{
    display: flex;
    justify-content: right;
}
.Room_section .arr_menu .arr_group .arr_list{
    margin-left: 10px;
    padding-top: 5px;
}
.Room_section .arr_menu .arr_group .arr_list:hover{
    color: #1212cc;
    cursor: pointer;
}
/* 상품 정렬 영역 끝 */

/* 상품 정보 영역 시작--------------------------------------------------- */
.Room_section .room_menu{
    background-color: aquamarine;
}
.Room_section .room_menu .room_product{
    
}
.Room_section .room_menu .room_product .room_list{
    display: flex;
    height: 240px;
    border: 1px solid saddlebrown;
    padding: 10px;
    
}
.Room_section .room_menu .room_product .room_list .img_box{
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    margin-right: 20px;
}
.Room_section .room_menu .room_product .room_list .room_info{
    background-color: #fff;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    padding: 15px;
}
.Room_section .room_menu .room_product .room_list .room_info .menu_wishbtn{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #aaa;
    font-size: 20px;
    line-height: 45px;
}
.Room_section .room_menu .room_product .room_list .room_info .menu_wishbtn:hover{
    
    cursor: pointer;
    color: red;
    background-color: #ccc;
}
/* 상품 정보 영역 끝 */
