.signup_container{
    width: 1200px;
    margin: 10px auto;
}
.signup_container h1{
    text-align: center;
    font-size: 20px;
    margin: 50px 0 50px 0;
    line-height: 30px;
}
.signup_container .agreeForm{
    width: 360px;
    margin: 10px auto;
    margin-left: 420px;
}
.signup_container .agreeForm > input[type='checkbox'],
.signup_container .agreeForm > .agree1 > .agree2 > input[type='checkbox']{
    margin-right: 10px;
}
.signup_container .agreeForm .agree1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.signup_container .agreeForm .agreeBtn{
    width: 360px;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}