.footer_container{
    /* width: 1980px; */
    width: 100%;
    /* margin-bottom: 100px; */
    margin: 0 auto;
    background-color: #2f2f2f;
}

.footer_container .footerInfo{
    width: 1200px;
    margin: 100px auto 0;
    padding: 100px 0 100px 0;
    display: flex;
    gap: 30px;
}
/* .footer_container */
.footer_container .footerInfo .footer_link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
}
.youtube_btn,
.instar_btn{
    border: none;
    width: 50px;
    background-color: transparent;
}
.footer_container .footerInfo .footer_link .footer_sns .fa-youtube{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.footer_container .footerInfo .footer_link .footer_sns .bi-instagram{
    font-size: 27px;
    cursor: pointer;
    color: #fff;
}
.footer_container .companyInfoSection .companyInfo{
    line-height: 25px;
    color: #faf4f4;
}