.footer_container{
    width: 100%;
    border-top: 1px solid red;
    margin-bottom: 100px;
    margin: 0 auto;
}

.footer_container .footerInfo{
    width: 1200px;
    margin: 100px auto;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}
/* .footer_container */
.footer_container .footerInfo .footer_link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
}
.youtube_btn,
.instar_btn{
    border: none;
    width: 50px;
}
.footer_container .footerInfo .footer_link .footer_sns .fa-youtube{
    font-size: 30px;
    cursor: pointer;
    color: #502d19;
}
.footer_container .footerInfo .footer_link .footer_sns .bi-instagram{
    font-size: 27px;
    cursor: pointer;
    color: #502d19;
}
.footer_container .companyInfoSection .companyInfo{
    line-height: 25px;
}