/* Header 전체 css */
.Header_container{
    /* width: 1920px; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    background-color: transparent;
    z-index: 700;
    top: 0;
}
/* Header 우측 버튼 css */
.Header_right{
    display: flex;
}
.Header_container .Header_right  .mainLogo{
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
}
.Header_container .Header_right .HeaderBtn{
    margin-right: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;

}
/* 메뉴 클릭 시 모달 */
.Header_container .menus{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    /* height: 100vh; */
    z-index: 900;
    background-color: rgba(255, 255, 255, 0.295);
}
.Header_container .menus .menus_sub{
    margin: 0 auto;
    padding: 10px 0 10px 0;
}
.Header_container .menus  .menus_sub > .domestic-hotels,
.Header_container .menus  .menus_sub > .wishList_menu,
.Header_container .menus  .menus_sub > .international-hotels,
.Header_container .menus  .menus_sub .support-center{
    width: 200px;
    padding: 10px;
    border: none;
}
/* 국내 숙소 */
.domestic-hotels,
.wishList_menu,
.international-hotels,
.support-center{
    background-color: rgba(255, 255, 255, 0);
}
.domestic-hotels:hover,
.wishList_menu:hover,
.international-hotels:hover,
.support-center:hover{
    text-decoration: underline;
}