/* Header 전체 css */
.Header_container{
    width: 1920px;
    height: 80px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
/* Header 우측 버튼 css */
.Header_right{
    display: flex;
}
.Header_container .Header_right  .mainLogo{
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
}
.Header_container .Header_right .HeaderBtn{
    margin-right: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}